@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@300&family=Playfair+Display&display=swap");
.open{
  display: flex !important;
}

body {
  height: 100%;
  min-width:375px;
  max-width: 2000px; 
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.oll-wrapper{
  width: 100%;
}

main {
  flex: 1 1 auto; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.white {
height: 100px;
color: #fff;
}

.space-betwen{
 height: 0;
 display: list-item;
 justify-content: center;
 margin: 0;

}

.space-betwen p{
  color: #7c7c82;
  margin: 0;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
}

.nav_links{
  width: 100%;
}

.nav_links li, a, button{
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 16px;
  color: cornsilk;
  text-decoration: none;
}
nav span{
  color: cornsilk;
}

.nav_links li {
  display: inline;
  padding: 0 2%; 
  text-decoration: none;
  margin-bottom: 5%;
}

.nav_links li,
a {
  transition: all 0.3s ease 0s;
}

.nav_links li,
a:hover {
  color: rgb(95, 92, 90);
}

.burger{
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span{
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: cornsilk;
}

.burger::before, .burger::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: cornsilk;
  transition: all 0.3s ease 0s;
}

.burger::before{
  top: 0;
}

.burger::after{
  bottom: 0;
}

.burger.active span{
  transform: scale(0);
}

.burger.active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 1145px) {
  .white{
    height: 50%;
  }

  header {
    height: 2%;
  }

 h3{
  margin-top: 10%;
 }

  .oll-wrapper{
    max-width: 1140px;
  }

  .burger{
    display: flex;
  }

  .nav_links{
    display: none;
    flex-direction: column;
    position: fixed;
    height: 25%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    background-color: rgb(37, 37, 37);
    animation: burgerAnimation 0.4s;
  }
  
  .nav_links ul{
    flex-direction: column;
  }

  .modal-bgd{
    z-index: 60;
  }
  
}

@media (max-width: 680px) {
  .more_information{
    width: 130px ;
    height: 10px;
    font-size: 7px;
  }

  .more_information h5{
    font-size: 10px;
  }

}

@keyframes burgerAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}

header {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 30px;
  background-color: rgb(37, 37, 37);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.home img {
  margin-top: 4%;
  width: 100%;
  position: relative;
}

.menu{
  height: auto;
  margin-bottom: 20px;
}

.h5-menu{
  position: absolute;
  top: 8px;
  left: 16px;
  color: #fff;
  font-size: 30px;
}

.menu h3{
  text-align: center;
}

.assortment-text{
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.col-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.col-menu h5{
  font-size: medium;
}

.menu-components{
  width: 24.7%;
  height: 100%;
  display: flex;
  display: inline-block;
  justify-content: space-between;
  position: relative; 
  text-align: center;

}

.menu-components-button{
  background-color: #17181B;
  border-radius: 4px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 10%;
  padding: 10px 20px;
}

.img-components{
 width: 100%;
}


.balasyny{
  width: 100%;
  height: auto;
}

.balasyny-text, .molberts-text, .icony-text, .doshka-text, .reviews-text{  
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.balasyny-text h3 {
  text-align: center;
}

.balasyny-img{
  width: 100%;
  display: flex;
  display: inline-block;
  text-align: center;
}

.col {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

.wrapper-balasyna{
  width: 24%;
  position: relative; 
  display: inline-block;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

.more_information{
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  padding: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: white;
}

.wrapper-balasyna:hover .more_information {
  display: block;
}

.molberts-slider-wrapper,  .review-slider-wraper {
  display: flex;
  justify-content: space-around;  
  width: 100%; 
}

.molberts-slider, .molberts-slider2, .molberts-slider3{
  width: 24%;
  justify-content: center;
}

 #viewport, #viewport2, #viewport3{
  width: 100%;
  height: auto;
  overflow: hidden;
}

#viewport8, #viewport9, #viewport10{
  height: 70%;
  width: 100%;
  overflow: hidden;
}

.slider, .slider2, .slider3{
  position: relative;
  width: 100%;
  transition: 500ms;
  width: calc(100% * 3);
  height: 100%; 
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.slider9{
  position: relative;
  transition: 500ms;
  width: calc(100% * 3);
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.slider8,  .slider10{
  position: relative;
  width: 100%;
  transition: 500ms;
  width: calc(100% * 4);
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.slide9{
  width: 100%;
}

.slide, .slide2, .slide3, .slide8, .slide10{
  width: 100%;
}

.slide img, .slide2 img, .slide3 img, .slide8 img,  .slide10 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0;
  overflow: hidden;
}

.slide9 img {
  width: 100%;
  object-fit: cover;
  object-position: 0;
  overflow: hidden;
}

#viewSlider, #viewSlider2, #viewSlider3, #viewSlider8, #viewSlider9, #viewSlider10{
  width: 100%;
  display: flex;
}

.viewSlide, .viewSlide2, .viewSlide3, .viewSlide8, .viewSlide9, .viewSlide10{
  width: 20px;
  height: 10px;
  background-color: rgb(189, 177, 177);
  border-radius: 4px;
  margin: 0 50%;
}

.button-wrapper{
  display: flex; 
  width: 100%;
  justify-content: space-around;
}

.molberts-slider button, .molberts-slider2 button, .molberts-slider3 button, .review-slider8 button, .review-slider9 button, .review-slider10 button {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 16px;
  color: cornsilk;
  text-decoration: none;
  background-color: #17181B;
  border-radius: 4px;
  width: fit-content;
  height: 5%;
  margin-left: auto;
  margin-right: auto; 
}

.doshka{
  width: 100%;
}

.review-slider8{
  width: 28%;
  position: relative;
  justify-content: center;
}

.review-slider9{
  width: 38%;
  justify-content: center;
  margin-top: 2%;
}

.review-slider10{
  width: 28%;
  justify-content: center;
} 

.connection{
  text-align: center;
  font-size: 100%;
}

.connection a{
 color: #161718;
 font-size: 3%;
}

.footer_nav {
  line-height: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.footer_contacts_link{
  margin-top: 20px;
}

footer {
  height: 10%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
  background-color: rgb(37, 37, 37);
 
}

.callback {
  width: 200px;
  height: 50px;
  position: fixed;
  margin-top: 200px;
  display: flex;
  z-index: 20;
  background-color: #161718;
  border-radius: 50px;
  transition: all 500ms ease;
}

.open-form-modal-btn{
  background: #161718;
  color: cornsilk;
  font-size: 18px;
  border-radius: 50px;
  position: fixed;
  bottom: 100px;
  right: 5px;
  height: 50px;
  transition: all 500ms ease;
  padding: 10px 40px;
  overflow: hidden; 
  z-index: 20;

}

.open-form-modal-btn:hover, button:hover{
  color: rgb(95, 92, 90);
}

.modal-bgd{
  z-index: 60;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(27 29 31 / 70%);;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s  ease-in-out;
}

.modal-form-container{
  background: #fff;
  padding: 32px 92px 60px 92px;
  position: relative;
  width: 100%;
  height: 80%;
  overflow: scroll;
}
.modal-form-success{
  background: #fff;
  padding: 32px 92px 60px 92px;
  position: relative;
  width: 50%;
  height: 50%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-title{
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #17181B;
  margin: 32px 0 12px 0;
}

.modal-form-fild{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-fild-name{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #17181B;
}

.modal-fild-input{
  border: 1px solid #005BBB;
  box-sizing: border-box;
  border-radius: 8px; 
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  color: #17181B;
  padding: 4px 8px;
}

.modal-form-btn{
  background: rgb(95, 92, 90);
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: cornsilk;
  cursor: pointer;
  border: 0;
  margin-top: 24px;
}

.close-btn{
  position: absolute;
  top: 28px;
  right: 28px;
  font-size: 14px;
  color: #17181B;
  cursor: pointer;
  border: 0;
  background: none;
}

.modal-descriptiion{
  margin-bottom: 0;
}

.modal-active{
  opacity: 1;
  pointer-events: all;
}