@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@300&family=Playfair+Display&display=swap");
/* PC */
@media (max-width: 1087px){
  [class*="wrapper"] {
    max-width: 970px;
  }
}
/* mobile */
@media (max-width: 767.98px){
  [class*="wrapper"] {
    min-width: none;
  }
}

body {
  height: 100%;
  min-width:375px;
  max-width: 2000px;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

main {
  flex: 1 1 auto; 
  width: 1425px;
  margin-left: auto;
  margin-right: auto;
}

.space-betwen{
 height: auto;
 display: list-item;
 justify-content: center;
 margin: 0;
}

.space-betwen p{
  color: #7c7c82;
  margin: 0;
  text-align: center;
}

nav {
  width: 100%;
}

.nav_links button{
  margin-top: -5px;
  margin-right: -10px;
}

.nav_links li,
a,
button {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 16px;
  color: cornsilk;
  text-decoration: none;
}

.nav_links {
margin-right: 70px;
} 

.nav_links li {
  display: inline;
  padding: 0px 3%;
  text-decoration: none;
}

.nav_links li,
a {
  transition: all 0.3s ease 0s;
}

.nav_links li,
a:hover {
  color: rgb(95, 92, 90);
}

header {
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 30px;
  background-color: rgb(37, 37, 37);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.home img {
  width: 100%;
  position: relative;
}

.menu{
  height: 600px;
  margin-bottom: 20px;
}

.h5-menu{
  position: absolute;
  top: 8px;
  left: 16px;
  color: #fff;
}

.menu h3{
  text-align: center;
}

.assortment-text{
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.col-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
}

.menu-components{
  width: 24.7%;
  height: 100%;
  display: flex;
  display: inline-block;
  justify-content: space-between;
  position: relative; 
  text-align: center;

}

.menu-components-button{
  background-color: #17181B;
  border-radius: 4px;
  width: 250px;
  height: 30px;
  margin-left: 50px;
  margin-top: 10px;
}

.img-components{
 width: 100%;
}

.balasyny{
  width: auto;
  height: auto;
}
.balasyny-text, .molberts-text, .icony-text, .doshka-text, .reviews-text{  
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.balasyny-text h3 {
  text-align: center;
}

.balasyny-img, .slide4{
  width: 350px;
  display: flex;
  display: inline-block;
  justify-content: space-around;
  text-align: center;
}

.balasyny-img:hover{
  transform: scale(1.2);
  transition: 1s;
}

.col {
  width: 1420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.wrapper-balasyna, .molberts-slider, .doshka-slider{
  width: 350px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  align-items: center;
}

.more_information{
  position: absolute;
  display: none;
  width: 300px;
  height: 100px;
  padding: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: white;
}

.wrapper-balasyna:hover .more_information {
  display: block;
}

.molberts-slider-wrapper, .doshka-slider-wrapper, .review-slider-wraper {
  display: flex;
  justify-content: space-around;
}

 #viewport, #viewport2, #viewport3, #viewport4, #viewport5, #viewport6, #viewport7, #viewport8, #viewport9, #viewport10{
  width: 350px;
  height: auto;
  overflow: hidden;
}

.slider, .slider2, .slider3, .slider4, .slider5, .slider6, .slider7, .slider8, .slider9, .slider10{
  position: relative;
  width: 350px;
  transition: 500ms;
  width: calc(100% * 5);
  height: 450px; 
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.slide, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8, .slide9, .slide10{
  width: 350px;
  height: auto;
}

.slide img, .slide2 img, .slide3 img, .slide4 img, .slide5 img, .slide6 img, .slide7 img, .slide8 img{
  width: 350px;
  height: auto;
  object-fit: cover;
  object-position: 0;
}

.slide9 img{
  width: 450px;
}

.slide10 img{
  height: 500px;
}

#viewSlider, #viewSlider2, #viewSlider3, #viewSlider4, #viewSlider5, #viewSlider6, #viewSlider7, #viewSlider8, #viewSlider9, #viewSlider10{
  width: calc(30px * 5);
  display: flex;
  justify-content: space-between;
}

.viewSlide, .viewSlide2, .viewSlide3, .viewSlide4, .viewSlide5, .viewSlide6, .viewSlide7, .viewSlide8, .viewSlide9, .viewSlide10{
  width: 20px;
  height: 10px;
  background-color: rgb(189, 177, 177);
  border-radius: 4px;
  margin: 0 50%;
}

.molberts-slider button, .molberts-slider2 button, .molberts-slider3 button, .doshka-slider4 button, .doshka-slider5 button, .doshka-slider6 button, .doshka-slider7 button, .review-slider8 button, .review-slider9 button, .review-slider10 button {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 16px;
  color: cornsilk;
  text-decoration: none;
  background-color: #17181B;
  border-radius: 4px;
  width: 50px;
  height: 30px;
  margin-left: 80px;
}

.reviews{
  margin: 10px;
}

.connection{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.connection a{
 color: #161718;
 font-size: 20px;
}

.footer_nav {
  line-height: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.footer_contacts_link{
  margin-top: 20px;
}

footer {
  height: 200px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
  background-color: rgb(37, 37, 37);
 
}

.callback {
  width: 200px;
  height: 50px;
  color: blue;
  position: fixed;
  margin-top: 200px;
  display: flex;
  z-index: 20;
  background-color: #161718;
  border-radius: 50px;
}

.open-form-modal-btn{
  background: #161718;
  color: cornsilk;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 5px;
  height: 50px;
  transition: all 500ms ease;
  padding: 10px 40px;
  overflow: hidden;
  z-index: 20;

}

.open-form-modal-btn:hover, button:hover{
  color: rgb(95, 92, 90);
}

.modal-bgd{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(27 29 31 / 70%);;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s  ease-in-out;
}

.modal-form-container{
  background: #fff;
  padding: 32px 92px 60px 92px;
  position: relative;
  width: 60%;
  height: 80%;
  overflow: scroll;
}
.modal-form-success{
  background: #fff;
  padding: 32px 92px 60px 92px;
  position: relative;
  width: 50%;
  height: 50%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-title{
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #17181B;
  margin: 32px 0 12px 0;
}

.modal-form-fild{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-fild-name{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #17181B;
}

.modal-fild-input{
  border: 1px solid #005BBB;
  box-sizing: border-box;
  border-radius: 8px; 
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  color: #17181B;
  padding: 4px 8px;
}

.modal-form-btn{
  background: rgb(95, 92, 90);
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: cornsilk;
  cursor: pointer;
  border: 0;
  margin-top: 24px;

}

.close-btn{
  position: absolute;
  top: 28px;
  right: 28px;
  font-size: 14px;
  color: #17181B;
  cursor: pointer;
  border: 0;
  background: none;
}

.modal-descriptiion{
  margin-bottom: 0;
}

.modal-active{
  opacity: 1;
  pointer-events: all;
}